In [1]:
!pip install geopandas

Requirement already satisfied: geopandas in ./.venv/lib/python3.12/site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in ./.venv/lib/python3.12/site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in ./.venv/lib/python3.12/site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from geopandas) (24.0)
Requirement already satisfied: pandas>=1.4.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (23.2.0)
Requirement already satisfied: certifi in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (2024.6.2)
Requirement already satisfied: click~=8.0 in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in ./.venv/lib/python3.12/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2024.1)

In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [3]:
rawdf = pd.read_csv('GreenspaceDownload/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.csv', encoding='unicode_escape', low_memory=False)

In [4]:
rawdf.shape

(36902, 160)

In [5]:
print(list(rawdf.columns))

['ID_HDC_G0', 'QA2_1V', 'AREA', 'BBX_LATMN', 'BBX_LONMN', 'BBX_LATMX', 'BBX_LONMX', 'GCPNT_LAT', 'GCPNT_LON', 'CTR_MN_NM', 'CTR_MN_ISO', 'XBRDR', 'XCTR_NBR', 'XC_NM_LST', 'XC_ISO_LST', 'GRGN_L1', 'GRGN_L2', 'UC_NM_MN', 'UC_NM_LST', 'UC_NM_SRC', 'H75_NBR', 'H90_NBR', 'H00_NBR', 'H75_AREA', 'H90_AREA', 'H00_AREA', 'E_BM_NM_LST', 'E_SL_LST', 'EL_AV_ALS', 'E_KG_NM_LST', 'E_RB_NM_LST', 'E_WR_P_90', 'E_WR_P_00', 'E_WR_P_14', 'E_WR_T_90', 'E_WR_T_00', 'E_WR_T_14', 'B75', 'B90', 'B00', 'B15', 'P75', 'P90', 'P00', 'P15', 'BUCAP75', 'BUCAP90', 'BUCAP00', 'BUCAP15', 'NTL_AV', 'GDP90_SM', 'GDP00_SM', 'GDP15_SM', 'INCM_CMI', 'DEV_CMI', 'TT2CC', 'E_GR_AV90', 'E_GR_AV00', 'E_GR_AV14', 'E_GR_AH90', 'E_GR_AM90', 'E_GR_AL90', 'E_GR_AT90', 'E_GR_AH00', 'E_GR_AM00', 'E_GR_AL00', 'E_GR_AT00', 'E_GR_AH14', 'E_GR_AM14', 'E_GR_AL14', 'E_GR_AT14', 'E_EC2E_E75', 'E_EC2E_E90', 'E_EC2E_E00', 'E_EC2E_E15', 'E_EC2E_R75', 'E_EC2E_R90', 'E_EC2E_R00', 'E_EC2E_R15', 'E_EC2E_I75', 'E_EC2E_I90', 'E_EC2E_I00', 'E_EC2E_I15', 'E_EC2E_T75', 'E_EC2E_T90', 'E_EC2E_T00', 'E_EC2E_T15', 'E_EC2E_A75', 'E_EC2E_A90', 'E_EC2E_A00', 'E_EC2E_A15', 'E_EC2O_E75', 'E_EC2O_E90', 'E_EC2O_E00', 'E_EC2O_E15', 'E_EC2O_R75', 'E_EC2O_R90', 'E_EC2O_R00', 'E_EC2O_R15', 'E_EC2O_I75', 'E_EC2O_I90', 'E_EC2O_I00', 'E_EC2O_I15', 'E_EC2O_T75', 'E_EC2O_T90', 'E_EC2O_T00', 'E_EC2O_T15', 'E_EC2O_A75', 'E_EC2O_A90', 'E_EC2O_A00', 'E_EC2O_A15', 'E_EPM2_E75', 'E_EPM2_E90', 'E_EPM2_E00', 'E_EPM2_E15', 'E_EPM2_R75', 'E_EPM2_R90', 'E_EPM2_R00', 'E_EPM2_R15', 'E_EPM2_I75', 'E_EPM2_I90', 'E_EPM2_I00', 'E_EPM2_I15', 'E_EPM2_T75', 'E_EPM2_T90', 'E_EPM2_T00', 'E_EPM2_T15', 'E_EPM2_A75', 'E_EPM2_A90', 'E_EPM2_A00', 'E_EPM2_A15', 'E_CPM2_T00', 'E_CPM2_T05', 'E_CPM2_T10', 'E_CPM2_T14', 'EX_FD_AREA', 'EX_FD_B75', 'EX_FD_B90', 'EX_FD_B00', 'EX_FD_B15', 'EX_FD_P75', 'EX_FD_P90', 'EX_FD_P00', 'EX_FD_P15', 'EX_SS_AREA', 'EX_SS_B75', 'EX_SS_B90', 'EX_SS_B00', 'EX_SS_B15', 'EX_SS_P75', 'EX_SS_P90', 'EX_SS_P00', 'EX_SS_P15', 'EX_EQ19PGA', 'EX_EQ19MMI', 'EX_EQ19_Q', 'EX_HW_IDX', 'SDG_LUE9015', 'SDG_A2G14', 'SDG_OS15MX']

In [7]:
cols_to_keep = ['GCPNT_LAT', 'GCPNT_LON', 'CTR_MN_NM', 'UC_NM_MN', 'UC_NM_LST', #general
                'E_BM_NM_LST', 'E_SL_LST', 'EL_AV_ALS', 'E_WR_P_14', 'E_WR_T_14','E_GR_AV14', 'E_GR_AT14',  #geography
                'P15', 'B15', 'BUCAP15','NTL_AV','GDP15_SM','DEV_CMI', #socio
                'E_EC2E_R15','E_EC2E_I15','E_EC2E_T15','E_EC2E_A15','E_EC2O_R15','E_EC2O_I15', #emissions1
                'E_EC2O_A15','E_EPM2_R15','E_EPM2_I15','E_EPM2_T15','E_EPM2_A15', 'E_CPM2_T14', #emissions2
                  'SDG_A2G14', 'SDG_OS15MX', 'SDG_LUE9015','EX_HW_IDX' ] #landuse
df = rawdf[cols_to_keep] 
df = df[df['CTR_MN_NM'] == 'United States']
df.replace(to_replace=['?', '??', '???', 'NAN'], value = [np.nan, np.nan, np.nan, np.nan], inplace=True)
df.rename(columns={'GCPNT_LAT': 'Latitude', 'GCPNT_LON': 'Longitude', 'CTR_MN_NM': 'Country', 'UC_NM_MN': 'Urban Center', 'UC_NM_LST': 'Cities in Urban Center'}, inplace=True)
df.head()

,Latitude,Longitude,Country,Urban Center,Cities in Urban Center,E_BM_NM_LST,E_SL_LST,EL_AV_ALS,E_WR_P_14,E_WR_T_14,...,E_EC2O_A15,E_EPM2_R15,E_EPM2_I15,E_EPM2_T15,E_EPM2_A15,E_CPM2_T14,SDG_A2G14,SDG_OS15MX,SDG_LUE9015,EX_HW_IDX
0,21.340678,-157.893497,United States,Honolulu,Honolulu; Waipahu; Pearl City; Aiea,Tropical and Subtropical Dry Broadleaf Forests,Vertisols,52.29643514,741.6250153,23.5266223,...,3.078803527,40.14455643,174.221274,23.53676553,0.047533547,5.765125,0.226415,56.41,0.074385203,NaN
2,34.923123,-120.434372,United States,Santa Maria,Santa Maria,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,87.12809223,245.1750011,14.71819115,...,8.266219641,8.503971075,35.140393,3.014212862,0.047214542,11.630900,0.040129,23.64,0.481144026,2.791739941
3,36.607720,-121.882378,United States,Monterey,Monterey,"Mediterranean Forests, Woodlands, and Scrub",Phaeozems,38.54796203,324.9250069,15.27411008,...,1.07850128,7.497389813,11.707452,1.972619542,0.008828798,10.932750,0.138683,42.17,0.444839872,NaN
4,34.427664,-119.743693,United States,Santa Barbara,Santa Barbara,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,38.29809451,183.9250069,15.37690687,...,1.329586573,14.04887269,30.528288,3.263458168,0.013192485,13.803700,0.061348,36.5,0.55676245,4.255020142
5,36.971274,-121.978684,United States,Santa Cruz,Santa Cruz,"Mediterranean Forests, Woodlands, and Scrub",Phaeozems,24.08581144,324.9250069,15.27411008,...,0.071545386,11.32560598,24.377837,3.99150779,0.001443604,11.868250,0.109287,39.46,0.317594332,1.51970005

In [8]:
checker = df[df['Urban Center'].str.contains("?", regex=False)] 
checker

,Latitude,Longitude,Country,Urban Center,Cities in Urban Center,E_BM_NM_LST,E_SL_LST,EL_AV_ALS,E_WR_P_14,E_WR_T_14,...,E_EC2O_A15,E_EPM2_R15,E_EPM2_I15,E_EPM2_T15,E_EPM2_A15,E_CPM2_T14,SDG_A2G14,SDG_OS15MX,SDG_LUE9015,EX_HW_IDX
482,38.777312,-90.611861,United States,O?Fallon,O?Fallon; Saint Charles; Saint Peters; Cottlev...,"Temperate Grasslands, Savannas, and Shrublands",Phaeozems,163.0952796,1057.825027,13.77023435,...,1832.278462,114.1057715,281.217959,45.87761046,7.098453931,11.3387,0.790093,75.6,1.532844781,17.70470047

In [9]:
a1 = df.loc[482]['Cities in Urban Center']
a1replace = a1.replace('?', "'")

In [10]:
df.at[482, 'Urban Center'] = "O'Fallon"
df.at[482, 'Cities in Urban Center'] = a1replace
df.at[553, 'Urban Center'] = 'Minneapolis'

Convert ??? and NAN to NaN, filter to United States, get states and deal with duplicates, remove rows with missing data

In [11]:
mhdf = pd.read_csv('MHDS/Original/500_Cities__City-level_Data__GIS_Friendly_Format___2017_release_20240514.csv')
mhdf.head()

,StateAbbr,PlaceName,PlaceFIPS,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,AL,Birmingham,107000,212237,19.6,"(19.2, 20.0)",19.8,"(19.5, 20.2)",30.9,"(30.8, 31.1)",...,"(46.6, 47.0)",5.2,"( 5.1, 5.3)",5.2,"( 5.1, 5.2)",26.1,"(25.1, 27.2)",25.9,"(25.0, 26.9)","(33.52756637730, -86.7988174678)"
1,AL,Hoover,135896,81619,9.7,"( 9.3, 10.1)",9.9,"( 9.5, 10.4)",25.3,"(25.0, 25.7)",...,"(34.2, 35.0)",2.2,"( 2.1, 2.3)",2.2,"( 2.1, 2.2)",9.6,"( 8.6, 10.8)",9.5,"( 8.5, 10.9)","(33.37676027290, -86.8051937568)"
2,AL,Huntsville,137000,180105,15.1,"(14.7, 15.4)",15.1,"(14.8, 15.5)",27.5,"(27.3, 27.7)",...,"(39.4, 40.0)",3.4,"( 3.3, 3.4)",3.3,"( 3.2, 3.3)",14.9,"(14.1, 15.7)",14.7,"(13.8, 15.5)","(34.69896926710, -86.6387042882)"
3,AL,Mobile,150000,195111,16.9,"(16.6, 17.2)",17.2,"(16.9, 17.5)",30.5,"(30.3, 30.6)",...,"(42.0, 42.4)",4.4,"( 4.3, 4.5)",4.1,"( 4.1, 4.2)",24.3,"(23.4, 25.3)",24.1,"(23.1, 25.0)","(30.67762486480, -88.1184482714)"
4,AL,Montgomery,151000,205764,17.4,"(17.0, 17.9)",17.5,"(17.1, 17.9)",29.8,"(29.7, 30.0)",...,"(41.0, 41.5)",4.1,"( 4.1, 4.2)",4.2,"( 4.1, 4.3)",21.2,"(20.3, 22.2)",21.2,"(20.1, 22.2)","(32.34726453330, -86.2677059552)"

In [12]:
mh_cities = (mhdf['PlaceName'].unique()).tolist()
mh_cities

['Birmingham',
 'Hoover',
 'Huntsville',
 'Mobile',
 'Montgomery',
 'Tuscaloosa',
 'Anchorage',
 'Avondale',
 'Chandler',
 'Gilbert',
 'Glendale',
 'Mesa',
 'Peoria',
 'Phoenix',
 'Scottsdale',
 'Surprise',
 'Tempe',
 'Tucson',
 'Yuma',
 'Fayetteville',
 'Fort Smith',
 'Jonesboro',
 'Little Rock',
 'Springdale',
 'Alameda',
 'Alhambra',
 'Anaheim',
 'Antioch',
 'Apple Valley',
 'Bakersfield',
 'Baldwin Park',
 'Bellflower',
 'Berkeley',
 'Buena Park',
 'Burbank',
 'Carlsbad',
 'Carson',
 'Chico',
 'Chino',
 'Chino Hills',
 'Chula Vista',
 'Citrus Heights',
 'Clovis',
 'Compton',
 'Concord',
 'Corona',
 'Costa Mesa',
 'Daly City',
 'Downey',
 'El Cajon',
 'Elk Grove',
 'El Monte',
 'Escondido',
 'Fairfield',
 'Folsom',
 'Fontana',
 'Fremont',
 'Fresno',
 'Fullerton',
 'Garden Grove',
 'Hawthorne',
 'Hayward',
 'Hemet',
 'Hesperia',
 'Huntington Beach',
 'Indio',
 'Inglewood',
 'Irvine',
 'Lake Forest',
 'Lakewood',
 'Lancaster',
 'Livermore',
 'Long Beach',
 'Los Angeles',
 'Lynwood',
 'Manteca',
 'Menifee',
 'Merced',
 'Milpitas',
 'Mission Viejo',
 'Modesto',
 'Moreno Valley',
 'Mountain View',
 'Murrieta',
 'Napa',
 'Newport Beach',
 'Norwalk',
 'Oakland',
 'Oceanside',
 'Ontario',
 'Orange',
 'Oxnard',
 'Palmdale',
 'Pasadena',
 'Perris',
 'Pleasanton',
 'Pomona',
 'Rancho Cucamonga',
 'Redding',
 'Redlands',
 'Redondo Beach',
 'Redwood City',
 'Rialto',
 'Richmond',
 'Riverside',
 'Roseville',
 'Sacramento',
 'Salinas',
 'San Bernardino',
 'San Buenaventura (Ventura)',
 'San Diego',
 'San Francisco',
 'San Jose',
 'San Leandro',
 'San Marcos',
 'San Mateo',
 'San Ramon',
 'Santa Ana',
 'Santa Barbara',
 'Santa Clara',
 'Santa Clarita',
 'Santa Maria',
 'Santa Monica',
 'Santa Rosa',
 'Simi Valley',
 'South Gate',
 'Stockton',
 'Sunnyvale',
 'Temecula',
 'Thousand Oaks',
 'Torrance',
 'Tracy',
 'Turlock',
 'Tustin',
 'Union City',
 'Upland',
 'Vacaville',
 'Vallejo',
 'Victorville',
 'Visalia',
 'Vista',
 'West Covina',
 'Westminster',
 'Whittier',
 'Arvada',
 'Aurora',
 'Boulder',
 'Centennial',
 'Colorado Springs',
 'Denver',
 'Fort Collins',
 'Greeley',
 'Longmont',
 'Loveland',
 'Pueblo',
 'Thornton',
 'Bridgeport',
 'Danbury',
 'Hartford',
 'New Britain',
 'New Haven',
 'Stamford',
 'Waterbury',
 'Wilmington',
 'Washington',
 'Boca Raton',
 'Boynton Beach',
 'Cape Coral',
 'Clearwater',
 'Coral Springs',
 'Davie',
 'Deerfield Beach',
 'Deltona',
 'Fort Lauderdale',
 'Gainesville',
 'Hialeah',
 'Hollywood',
 'Jacksonville',
 'Lakeland',
 'Largo',
 'Lauderhill',
 'Melbourne',
 'Miami',
 'Miami Beach',
 'Miami Gardens',
 'Miramar',
 'Orlando',
 'Palm Bay',
 'Palm Coast',
 'Pembroke Pines',
 'Plantation',
 'Pompano Beach',
 'Port St. Lucie',
 'St. Petersburg',
 'Sunrise',
 'Tallahassee',
 'Tampa',
 'West Palm Beach',
 'Albany',
 'Athens',
 'Atlanta',
 'Augusta',
 'Columbus',
 'Johns Creek',
 'Macon',
 'Roswell',
 'Sandy Springs',
 'Savannah',
 'Warner Robins',
 'Honolulu',
 'Boise City',
 'Meridian',
 'Nampa',
 'Arlington Heights',
 'Bloomington',
 'Bolingbrook',
 'Champaign',
 'Chicago',
 'Cicero',
 'Decatur',
 'Elgin',
 'Evanston',
 'Joliet',
 'Naperville',
 'Palatine',
 'Rockford',
 'Schaumburg',
 'Springfield',
 'Waukegan',
 'Carmel',
 'Evansville',
 'Fishers',
 'Fort Wayne',
 'Gary',
 'Hammond',
 'Indianapolis',
 'Lafayette',
 'Muncie',
 'South Bend',
 'Cedar Rapids',
 'Davenport',
 'Des Moines',
 'Iowa City',
 'Sioux City',
 'Waterloo',
 'Kansas City',
 'Lawrence',
 'Olathe',
 'Overland Park',
 'Topeka',
 'Wichita',
 'Lexington',
 'Louisville',
 'Baton Rouge',
 'Kenner',
 'Lake Charles',
 'New Orleans',
 'Shreveport',
 'Portland',
 'Baltimore',
 'Boston',
 'Brockton',
 'Cambridge',
 'Fall River',
 'Lowell',
 'Lynn',
 'New Bedford',
 'Newton',
 'Quincy',
 'Somerville',
 'Worcester',
 'Ann Arbor',
 'Dearborn',
 'Detroit',
 'Farmington Hills',
 'Flint',
 'Grand Rapids',
 'Kalamazoo',
 'Lansing',
 'Livonia',
 'Rochester Hills',
 'Southfield',
 'Sterling Heights',
 'Troy',
 'Warren',
 'Westland',
 'Wyoming',
 'Brooklyn Park',
 'Duluth',
 'Minneapolis',
 'Plymouth',
 'Rochester',
 'St. Paul',
 'Gulfport',
 'Jackson',
 'Columbia',
 'Independence',
 "Lee's Summit",
 "O'Fallon",
 'St. Joseph',
 'St. Louis',
 'Billings',
 'Missoula',
 'Lincoln',
 'Omaha',
 'Henderson',
 'Las Vegas',
 'North Las Vegas',
 'Reno',
 'Sparks',
 'Manchester',
 'Nashua',
 'Camden',
 'Clifton',
 'Elizabeth',
 'Jersey City',
 'Newark',
 'Passaic',
 'Paterson',
 'Trenton',
 'Albuquerque',
 'Las Cruces',
 'Rio Rancho',
 'Santa Fe',
 'Buffalo',
 'Mount Vernon',
 'New Rochelle',
 'New York',
 'Schenectady',
 'Syracuse',
 'Yonkers',
 'Asheville',
 'Cary',
 'Charlotte',
 'Durham',
 'Gastonia',
 'Greensboro',
 'Greenville',
 'High Point',
 'Raleigh',
 'Winston-Salem',
 'Fargo',
 'Akron',
 'Canton',
 'Cincinnati',
 'Cleveland',
 'Dayton',
 'Parma',
 'Toledo',
 'Youngstown',
 'Broken Arrow',
 'Edmond',
 'Lawton',
 'Norman',
 'Oklahoma City',
 'Tulsa',
 'Beaverton',
 'Bend',
 'Eugene',
 'Gresham',
 'Hillsboro',
 'Medford',
 'Salem',
 'Allentown',
 'Bethlehem',
 'Erie',
 'Philadelphia',
 'Pittsburgh',
 'Reading',
 'Scranton',
 'Cranston',
 'Pawtucket',
 'Providence',
 'Warwick',
 'Charleston',
 'Mount Pleasant',
 'North Charleston',
 'Rock Hill',
 'Rapid City',
 'Sioux Falls',
 'Chattanooga',
 'Clarksville',
 'Knoxville',
 'Memphis',
 'Murfreesboro',
 'Nashville',
 'Abilene',
 'Allen',
 'Amarillo',
 'Arlington',
 'Austin',
 'Baytown',
 'Beaumont',
 'Brownsville',
 'Bryan',
 'Carrollton',
 'College Station',
 'Corpus Christi',
 'Dallas',
 'Denton',
 'Edinburg',
 'El Paso',
 'Fort Worth',
 'Frisco',
 'Garland',
 'Grand Prairie',
 'Houston',
 'Irving',
 'Killeen',
 'Laredo',
 'League City',
 'Lewisville',
 'Longview',
 'Lubbock',
 'McAllen',
 'McKinney',
 'Mesquite',
 'Midland',
 'Mission',
 'Missouri City',
 'Odessa',
 'Pearland',
 'Pharr',
 'Plano',
 'Richardson',
 'Round Rock',
 'San Angelo',
 'San Antonio',
 'Sugar Land',
 'Tyler',
 'Waco',
 'Wichita Falls',
 'Layton',
 'Ogden',
 'Orem',
 'Provo',
 'St. George',
 'Salt Lake City',
 'Sandy',
 'West Jordan',
 'West Valley City',
 'Burlington',
 'Alexandria',
 'Chesapeake',
 'Hampton',
 'Lynchburg',
 'Newport News',
 'Norfolk',
 'Portsmouth',
 'Roanoke',
 'Suffolk',
 'Virginia Beach',
 'Auburn',
 'Bellevue',
 'Bellingham',
 'Everett',
 'Federal Way',
 'Kennewick',
 'Kent',
 'Renton',
 'Seattle',
 'Spokane',
 'Spokane Valley',
 'Tacoma',
 'Vancouver',
 'Yakima',
 'Appleton',
 'Green Bay',
 'Kenosha',
 'Madison',
 'Milwaukee',
 'Racine',
 'Waukesha',
 'Cheyenne']

In [13]:
df['Cities in Urban Center_copy'] = df['Cities in Urban Center']
df['Cities in Urban Center'] = df['Cities in Urban Center'].str.split(';')
df = df.explode('Cities in Urban Center')
df.reset_index(inplace=True, drop=False)
df.rename(columns={'index': 'UC Grouping'}, inplace=True)
df['Cities in Urban Center'] = df['Cities in Urban Center'].str.strip()

In [74]:
# filtered_df = df[df["Cities in Urban Center_copy"].str.contains("San Francisco")]
# filtered_df

In [14]:
#t = df[df['Cities in Urban Center'] == 'San Francisco']
#t

In [14]:
ucgroup = df[df['Cities in Urban Center'].isin(mh_cities)]
ucgrouplist = ucgroup.index.tolist()

In [15]:
df = df[df.index.isin(ucgrouplist)]
df.head()

,UC Grouping,Latitude,Longitude,Country,Urban Center,Cities in Urban Center,E_BM_NM_LST,E_SL_LST,EL_AV_ALS,E_WR_P_14,...,E_EPM2_R15,E_EPM2_I15,E_EPM2_T15,E_EPM2_A15,E_CPM2_T14,SDG_A2G14,SDG_OS15MX,SDG_LUE9015,EX_HW_IDX,Cities in Urban Center_copy
0,0,21.340678,-157.893497,United States,Honolulu,Honolulu,Tropical and Subtropical Dry Broadleaf Forests,Vertisols,52.29643514,741.6250153,...,40.14455643,174.221274,23.53676553,0.047533547,5.765125,0.226415,56.41,0.074385203,NaN,Honolulu; Waipahu; Pearl City; Aiea
4,2,34.923123,-120.434372,United States,Santa Maria,Santa Maria,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,87.12809223,245.1750011,...,8.503971075,35.140393,3.014212862,0.047214542,11.630900,0.040129,23.64,0.481144026,2.791739941,Santa Maria
6,4,34.427664,-119.743693,United States,Santa Barbara,Santa Barbara,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,38.29809451,183.9250069,...,14.04887269,30.528288,3.263458168,0.013192485,13.803700,0.061348,36.5,0.55676245,4.255020142,Santa Barbara
8,6,36.688991,-121.640831,United States,Salinas,Salinas,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,21.30891932,324.9250069,...,16.56970821,65.973825,6.895040733,0.059791583,12.376300,0.076114,24.61,0.843804111,11.39150047,Salinas
9,7,34.217486,-119.209132,United States,Oxnard,Oxnard,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,21.89917854,238.6750031,...,30.23359415,118.460613,16.89482998,0.072824232,17.010900,0.036199,28.65,0.43558362,NaN,Oxnard; Ventura

In [16]:
stateboundaries = gpd.read_file("cb_2018_us_state_500k/cb_2018_us_state_500k.shp")
stateboundaries.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."

In [17]:
def statefinder(row):
    point = Point(row['Longitude'], row['Latitude'])
    state = stateboundaries[stateboundaries.contains(point)]
    
    if not state.empty:
        return state.iloc[0]['STUSPS'] 
    else:
        return np.nan

In [18]:
df['State'] = df.apply(statefinder, axis=1)

In [19]:
df.head()

,UC Grouping,Latitude,Longitude,Country,Urban Center,Cities in Urban Center,E_BM_NM_LST,E_SL_LST,EL_AV_ALS,E_WR_P_14,...,E_EPM2_I15,E_EPM2_T15,E_EPM2_A15,E_CPM2_T14,SDG_A2G14,SDG_OS15MX,SDG_LUE9015,EX_HW_IDX,Cities in Urban Center_copy,State
0,0,21.340678,-157.893497,United States,Honolulu,Honolulu,Tropical and Subtropical Dry Broadleaf Forests,Vertisols,52.29643514,741.6250153,...,174.221274,23.53676553,0.047533547,5.765125,0.226415,56.41,0.074385203,NaN,Honolulu; Waipahu; Pearl City; Aiea,HI
4,2,34.923123,-120.434372,United States,Santa Maria,Santa Maria,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,87.12809223,245.1750011,...,35.140393,3.014212862,0.047214542,11.630900,0.040129,23.64,0.481144026,2.791739941,Santa Maria,CA
6,4,34.427664,-119.743693,United States,Santa Barbara,Santa Barbara,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,38.29809451,183.9250069,...,30.528288,3.263458168,0.013192485,13.803700,0.061348,36.5,0.55676245,4.255020142,Santa Barbara,CA
8,6,36.688991,-121.640831,United States,Salinas,Salinas,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,21.30891932,324.9250069,...,65.973825,6.895040733,0.059791583,12.376300,0.076114,24.61,0.843804111,11.39150047,Salinas,CA
9,7,34.217486,-119.209132,United States,Oxnard,Oxnard,"Mediterranean Forests, Woodlands, and Scrub",Luvisols,21.89917854,238.6750031,...,118.460613,16.89482998,0.072824232,17.010900,0.036199,28.65,0.43558362,NaN,Oxnard; Ventura,CA

In [31]:
#states = pd.read_csv('uscities.csv')
#states.sort_values(by='population', ascending=False, inplace=True)
#states = states[['city', 'state_id', 'lat', 'lng']]
#states.rename(columns={'city': 'Urban Center', 'state_id': 'State'}, inplace=True)
#states.drop_duplicates(subset='Urban Center', keep='first', inplace=True)

In [32]:
#dfj = df.join(states.set_index('Urban Center'), on='Cities in Urban Center', how='left')
#dfj

In [33]:
# dfj['lat_diff'] = np.abs(dfj['Latitude'] - dfj['lat'])
# dfj['lng_diff'] = np.abs(dfj['Longitude'] - dfj['lng'])

In [34]:
# check_df = dfj[(dfj['lat_diff'] > 1) | (dfj['lng_diff'] > 1)]
# print(check_df.shape)
# check_df.tail(20)

In [35]:
# dfj.at[21, 'State'] = 'CA'
# dfj.at[37, 'State'] = 'CA'
# dfj.at[47, 'State'] = 'CA'
# dfj.at[77, 'State'] = 'CA'
# dfj.at[116, 'State'] = 'AZ'
# dfj.at[162, 'State'] = 'UT'
# dfj.at[235, 'State'] = 'KS'
# dfj.at[285, 'State'] = 'MO'
# dfj.at[323, 'State'] = 'MN'
# dfj.at[369, 'State'] = 'IL'
# dfj.at[391, 'State'] = 'IL'
# dfj.at[400, 'State'] = 'IL'
# dfj.at[459, 'State'] = 'PA'
# dfj.at[473, 'State'] = 'VA'
# dfj.at[505, 'State'] = 'PA'

# dfj.at[384, 'State'] = 'IN'
# dfj.at[303, 'State'] = 'GA'
# dfj.at[550, 'State'] = 'CT'
# dfj.at[135, 'State'] = 'TX'
# dfj.at[493, 'State'] = 'MD'
# dfj.at[262, 'State'] = 'MO'
# dfj.at[579, 'State'] = 'MA'
# dfj.at[309, 'State'] = 'IL'
# dfj.at[584, 'State'] = 'ME'
# dfj.at[366, 'State'] = 'IN'
# dfj.at[433, 'State'] = 'NC'
# dfj.at[340, 'State'] = 'MN'
# dfj.at[453, 'State'] = 'NC'
# dfj.at[535, 'State'] = 'NJ'
# dfj.at[557, 'State'] = 'NY'

In [20]:
df[df['State'].isna()].head()

Empty DataFrame
Columns: [UC Grouping, Latitude, Longitude, Country, Urban Center, Cities in Urban Center, E_BM_NM_LST, E_SL_LST, EL_AV_ALS, E_WR_P_14, E_WR_T_14, E_GR_AV14, E_GR_AT14, P15, B15, BUCAP15, NTL_AV, GDP15_SM, DEV_CMI, E_EC2E_R15, E_EC2E_I15, E_EC2E_T15, E_EC2E_A15, E_EC2O_R15, E_EC2O_I15, E_EC2O_A15, E_EPM2_R15, E_EPM2_I15, E_EPM2_T15, E_EPM2_A15, E_CPM2_T14, SDG_A2G14, SDG_OS15MX, SDG_LUE9015, EX_HW_IDX, Cities in Urban Center_copy, State]
Index: []

[0 rows x 37 columns]

In [92]:
#dfj = dfj.iloc[:,:-4]

In [21]:
df.to_csv('allgreenspace_cleaned.csv')